src/coverage-report
src/go-coverage-report
go_report_generator/test/Testprojects/Reports/*
go_report_generator/*.exe

/.vs
/AzureDevopsTask*/ReportGenerator/tools
/AzureDevopsTask*/ReportGenerator/reportgenerator.js
/AzureDevopsTask*/*.vsix
/TestResults
/Testprojects/CoverageTools
/Testprojects/TestResults
/target
/resources
/publish.bat
*.suo
*.user
*.Cache
*.binlog
bin
obj
.DS_Store
.AssemblyAttributes
.netconfig
node_modules
/_ReSharper.Caches
Testprojects/CSharp/Reports
Testprojects/Go/coverage.cobertura.xml
Testprojects/Go/coverage.out

reports