/packages/CoverageTools
/packages/ICSharpCode.NRefactory*
/packages/log4net*
/packages/Mono.Cecil*
/packages/Moq*
/packages/MSBuildTasks*
/packages/NuGet.CommandLine*
/packages/OpenCover*
/packages/ReportGenerator*
/TestResults
/ReportGenerator.Testprojects/TestResults
/target
/resources
/build.proj
*.suo
*.user
*.Cache
bin
obj