<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" version="0.10.3" targetFramework="net452" />
  <package id="JetBrains.dotCover.CommandLineTools" version="2016.2.20160818.172304" />
  <package id="MSBuildTasks" version="1.5.0.196" />
  <package id="NuGet.CommandLine" version="3.4.3" />
  <package id="OpenCover" version="4.6.166" />
</packages>