<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Palmmedia.ReportGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Palmmedia.ReportGenerator.Properties.Settings>
            <setting name="MaximumOfHistoricCoverageFiles" serializeAs="String">
                <value>100</value>
            </setting>
        </Palmmedia.ReportGenerator.Properties.Settings>
    </applicationSettings>
</configuration>