html { font-family: 'Segoe UI', '-apple-system', BlinkMacSystemFont, Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; margin: 0; padding: 0; font-size: 0.9em; background-color: #fff; height: 100%; }
body { margin: 0; padding: 0; height: 100%; }
h1 { font-size: 1.2em; font-weight: normal; color: #000; background-color: rgba(248,248,248,1); padding: 10px; margin: 20px -20px 20px -20px;  }
h1:first-of-type { margin-top: 0; }
h2 { font-size: 1.0em; font-weight: bold; margin: 10px 0 15px 0; padding: 0; }
h3 { font-size: 1.0em; font-weight: bold; margin: 0 0 10px 0; padding: 0; display: inline-block; }
a { color: #0078D4; text-decoration: none; }
a:hover { color: #000; text-decoration: underline; }

.container { margin: auto; background-color: #fff; display: table;  height: 100%; }
.containerleft { display: table-cell; padding: 0 20px 20px 20px; }
.containerright { border-left: solid 1px #EAEAEA; display: table-cell; width: 340px; min-width: 340px; background-color: #fff; height: 100%; }
.containerrightfixed { position: fixed; padding: 0 20px 20px 20px; width: 300px; overflow-y: auto; height: 100%; top: 0; bottom: 0; }
.containerrightfixed h1 { background-color: rgba(248,248,248,1); }
.containerrightfixed label, .containerright a { white-space: nowrap; overflow: hidden; display: inline-block; max-width: 300px; text-overflow: ellipsis; }
.containerright a { margin-bottom: 3px; }

@media screen and (max-width:1200px){ 
    .container { box-shadow: none; width: 100%; }
    .containerright { display: none; }
}

.footer { font-size: 0.7em; text-align: center; margin-top: 35px; }

th { text-align: left; }
.table-fixed { table-layout: fixed; }
.overview { border: solid 1px #c1c1c1; border-collapse: collapse; width: 100%; word-wrap: break-word; }
.overview th { border: solid 1px #c1c1c1; border-collapse: collapse; padding: 5px 4px 5px 4px; background-color: #fff}
ansi
.overview thead th { background-color: #fff; }
.overview th a { color: #000; }
.overview tr.namespace a { margin-left: 15px; display: block; }
.overview td { border: solid 1px #c1c1c1; border-collapse: collapse; padding: 5px 4px 5px 4px; }
.overview tr:hover { background: #f4f4f4 }
div.currenthistory { margin: -6px -5px 0 -5px; padding: 2px 4px 6px 4px; height: 16px; }
.coverage {
    border: solid 1px #c1c1c1;
    border-collapse: collapse;
    font-size: 5px;
    height: 10px;
}
.coverage td { padding: 0; border: none; }

.customizebox { font-size: 0.75em; margin-bottom: 7px; }
.customizebox>div { width: 25%; display: inline-block; }
.customizebox div.right input { font-size: 0.8em; width: 150px; }
#namespaceslider { width: 200px; display: inline-block; margin-left: 8px; }

.percentagebarundefined {
    border-left: 2px solid #fff;
    padding-left: 3px;
}
.percentagebar0 {
    border-left: 2px solid #DA0A00;
    padding-left: 3px;
}
.percentagebar10 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 90%, #107C10 90%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar20 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 80%, #107C10 80%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar30 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 70%, #107C10 70%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar40 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 60%, #107C10 60%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar50 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 50%, #107C10 50%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar60 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 40%, #107C10 40%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar70 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 30%, #107C10 30%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar80 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 20%, #107C10 20%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar90 {
    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #DA0A00 10%, #107C10 10%, #107C10 100%) 1;
    padding-left: 3px;
}
.percentagebar100 {
    border-left: 2px solid #107C10;
    padding-left: 3px;
}

.hidden, .ng-hide { display: none; }
.right { text-align: right; }
.center { text-align: center; }
.rightmargin  { padding-right: 8px; }
.leftmargin { padding-left: 5px; }
.green { background-color: #107C10; }
.lightgreen { background-color: #dcf4dc; }
.red { background-color: #DA0A00; }
.lightred { background-color: #f7dede; }
.orange { background-color: #FFA500; }
.lightorange { background-color: #FFEFD5; }
.gray { background-color: #dcdcdc; }
.lightgray { color: #888888; }
.lightgraybg { background-color: #dadada; }

.toggleZoom { text-align:right; }

.ct-chart { position: relative; }
.ct-chart .ct-line { stroke-width: 2px !important; }
.ct-chart .ct-point { stroke-width: 6px !important; transition: stroke-width .2s; }
.ct-chart .ct-point:hover { stroke-width: 10px !important; }
.ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point { stroke: #0078D4 !important;}
.ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point { stroke: #1c2298 !important;}

.tinylinecoveragechart, .tinybranchcoveragechart { background-color: #fff; margin-left: -3px; float: left; border: solid 1px #c1c1c1; width: 30px; height: 18px; }
.historiccoverageoffset { margin-top: 7px; }

.tinylinecoveragechart .ct-line, .tinybranchcoveragechart .ct-line { stroke-width: 1px !important; }
.tinybranchcoveragechart .ct-series.ct-series-a .ct-line { stroke: #1c2298 !important; }

.linecoverage { background-color: #0078D4; width: 10px; height: 8px; border: 1px solid #000; display: inline-block; }
.branchcoverage { background-color: #1c2298; width: 10px; height: 8px; border: 1px solid #000; display: inline-block; }

.tooltip { position: absolute; display: none; padding: 5px; background: #F4C63D;color: #453D3F; pointer-events: none; z-index: 1; }
.tooltip:after { content: ""; position: absolute; top: 100%; left: 50%; width: 0; height: 0; margin-left: -15px; border: 15px solid transparent; border-top-color: #F4C63D; }

.column1324 { max-width: 1324px; }
.column674 { max-width: 674px; }
.column60 { width: 60px; }
.column70 { width: 70px; }
.column90 { width: 90px; }
.column98 { width: 98px; }
.column100 { width: 100px; }
.column105 { width: 105px; }
.column112 { width: 112px; }
.column135 { width: 135px; }
.column150 { width: 150px; }

.covered0 { width: 0px; }
.covered1 { width: 1px; }
.covered2 { width: 2px; }
.covered3 { width: 3px; }
.covered4 { width: 4px; }
.covered5 { width: 5px; }
.covered6 { width: 6px; }
.covered7 { width: 7px; }
.covered8 { width: 8px; }
.covered9 { width: 9px; }
.covered10 { width: 10px; }
.covered11 { width: 11px; }
.covered12 { width: 12px; }
.covered13 { width: 13px; }
.covered14 { width: 14px; }
.covered15 { width: 15px; }
.covered16 { width: 16px; }
.covered17 { width: 17px; }
.covered18 { width: 18px; }
.covered19 { width: 19px; }
.covered20 { width: 20px; }
.covered21 { width: 21px; }
.covered22 { width: 22px; }
.covered23 { width: 23px; }
.covered24 { width: 24px; }
.covered25 { width: 25px; }
.covered26 { width: 26px; }
.covered27 { width: 27px; }
.covered28 { width: 28px; }
.covered29 { width: 29px; }
.covered30 { width: 30px; }
.covered31 { width: 31px; }
.covered32 { width: 32px; }
.covered33 { width: 33px; }
.covered34 { width: 34px; }
.covered35 { width: 35px; }
.covered36 { width: 36px; }
.covered37 { width: 37px; }
.covered38 { width: 38px; }
.covered39 { width: 39px; }
.covered40 { width: 40px; }
.covered41 { width: 41px; }
.covered42 { width: 42px; }
.covered43 { width: 43px; }
.covered44 { width: 44px; }
.covered45 { width: 45px; }
.covered46 { width: 46px; }
.covered47 { width: 47px; }
.covered48 { width: 48px; }
.covered49 { width: 49px; }
.covered50 { width: 50px; }
.covered51 { width: 51px; }
.covered52 { width: 52px; }
.covered53 { width: 53px; }
.covered54 { width: 54px; }
.covered55 { width: 55px; }
.covered56 { width: 56px; }
.covered57 { width: 57px; }
.covered58 { width: 58px; }
.covered59 { width: 59px; }
.covered60 { width: 60px; }
.covered61 { width: 61px; }
.covered62 { width: 62px; }
.covered63 { width: 63px; }
.covered64 { width: 64px; }
.covered65 { width: 65px; }
.covered66 { width: 66px; }
.covered67 { width: 67px; }
.covered68 { width: 68px; }
.covered69 { width: 69px; }
.covered70 { width: 70px; }
.covered71 { width: 71px; }
.covered72 { width: 72px; }
.covered73 { width: 73px; }
.covered74 { width: 74px; }
.covered75 { width: 75px; }
.covered76 { width: 76px; }
.covered77 { width: 77px; }
.covered78 { width: 78px; }
.covered79 { width: 79px; }
.covered80 { width: 80px; }
.covered81 { width: 81px; }
.covered82 { width: 82px; }
.covered83 { width: 83px; }
.covered84 { width: 84px; }
.covered85 { width: 85px; }
.covered86 { width: 86px; }
.covered87 { width: 87px; }
.covered88 { width: 88px; }
.covered89 { width: 89px; }
.covered90 { width: 90px; }
.covered91 { width: 91px; }
.covered92 { width: 92px; }
.covered93 { width: 93px; }
.covered94 { width: 94px; }
.covered95 { width: 95px; }
.covered96 { width: 96px; }
.covered97 { width: 97px; }
.covered98 { width: 98px; }
.covered99 { width: 99px; }
.covered100 { width: 100px; }

@media print {
    html, body { background-color: #fff; }
    .container { max-width: 100%; width: 100%; padding: 0; }
    .overview colgroup col:first-child { width: 300px; }
}

.icon-up-dir_active {
    background-image: url(icon_up-dir_active.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgd2lkdGg9IjE3OTIiIGhlaWdodD0iMTc5MiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMDA3OEQ0IiBkPSJNMTQwOCAxMjE2cTAgMjYtMTkgNDV0LTQ1IDE5aC04OTZxLTI2IDAtNDUtMTl0LTE5LTQ1IDE5LTQ1bDQ0OC00NDhxMTktMTkgNDUtMTl0NDUgMTlsNDQ4IDQ0OHExOSAxOSAxOSA0NXoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    height: 0.9em;
    display: inline-block;
    position: relative;
    top: 3px;
}
.icon-down-dir_active {
    background-image: url(icon_down-dir_active.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgd2lkdGg9IjE3OTIiIGhlaWdodD0iMTc5MiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMDA3OEQ0IiBkPSJNMTQwOCA3MDRxMCAyNi0xOSA0NWwtNDQ4IDQ0OHEtMTkgMTktNDUgMTl0LTQ1LTE5bC00NDgtNDQ4cS0xOS0xOS0xOS00NXQxOS00NSA0NS0xOWg4OTZxMjYgMCA0NSAxOXQxOSA0NXoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    height: 0.9em;
    display: inline-block;
    position: relative;
    top: 3px;
}
.icon-down-dir {
    background-image: url(icon_down-dir_active.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDA4IDcwNHEwIDI2LTE5IDQ1bC00NDggNDQ4cS0xOSAxOS00NSAxOXQtNDUtMTlsLTQ0OC00NDhxLTE5LTE5LTE5LTQ1dDE5LTQ1IDQ1LTE5aDg5NnEyNiAwIDQ1IDE5dDE5IDQ1eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    height: 0.9em;
    display: inline-block;
    position: relative;
    top: 3px;
}
.icon-info-circled {
    background-image: url(icon_info-circled.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgY3g9Ijg5NiIgY3k9Ijg5NiIgcj0iNzUwIiBmaWxsPSIjZmZmIiAvPjxwYXRoIGZpbGw9IiMyOEE1RkYiIGQ9Ik0xMTUyIDEzNzZ2LTE2MHEwLTE0LTktMjN0LTIzLTloLTk2di01MTJxMC0xNC05LTIzdC0yMy05aC0zMjBxLTE0IDAtMjMgOXQtOSAyM3YxNjBxMCAxNCA5IDIzdDIzIDloOTZ2MzIwaC05NnEtMTQgMC0yMyA5dC05IDIzdjE2MHEwIDE0IDkgMjN0MjMgOWg0NDhxMTQgMCAyMy05dDktMjN6bS0xMjgtODk2di0xNjBxMC0xNC05LTIzdC0yMy05aC0xOTJxLTE0IDAtMjMgOXQtOSAyM3YxNjBxMCAxNCA5IDIzdDIzIDloMTkycTE0IDAgMjMtOXQ5LTIzem02NDAgNDE2cTAgMjA5LTEwMyAzODUuNXQtMjc5LjUgMjc5LjUtMzg1LjUgMTAzLTM4NS41LTEwMy0yNzkuNS0yNzkuNS0xMDMtMzg1LjUgMTAzLTM4NS41IDI3OS41LTI3OS41IDM4NS41LTEwMyAzODUuNSAxMDMgMjc5LjUgMjc5LjUgMTAzIDM4NS41eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    height: 0.9em;
    display: inline-block;
}
.icon-plus {
    background-image: url(icon_plus.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjAwIDczNnYxOTJxMCA0MC0yOCA2OHQtNjggMjhoLTQxNnY0MTZxMCA0MC0yOCA2OHQtNjggMjhoLTE5MnEtNDAgMC02OC0yOHQtMjgtNjh2LTQxNmgtNDE2cS00MCAwLTY4LTI4dC0yOC02OHYtMTkycTAtNDAgMjgtNjh0NjgtMjhoNDE2di00MTZxMC00MCAyOC02OHQ2OC0yOGgxOTJxNDAgMCA2OCAyOHQyOCA2OHY0MTZoNDE2cTQwIDAgNjggMjh0MjggNjh6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    height: 0.9em;
    display: inline-block;
    position: relative;
    top: 3px;
}
.icon-minus {
    background-image: url(icon_minus.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgd2lkdGg9IjE3OTIiIGhlaWdodD0iMTc5MiIgdmlld0JveD0iMCAwIDE3OTIgMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMDAwIiBkPSJNMTYwMCA3MzZ2MTkycTAgNDAtMjggNjh0LTY4IDI4aC0xMjE2cS00MCAwLTY4LTI4dC0yOC02OHYtMTkycTAtNDAgMjgtNjh0NjgtMjhoMTIxNnE0MCAwIDY4IDI4dDI4IDY4eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 15px;
    height: 0.9em;
    display: inline-block;
    position: relative;
    top: 3px;
}
.icon-wrench {
    background-image: url(icon_wrench.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIj4NCiAgICA8cGF0aCBkPSJNNDQ4IDE0NzJxMC0yNi0xOS00NXQtNDUtMTktNDUgMTktMTkgNDUgMTkgNDUgNDUgMTkgNDUtMTkgMTktNDV6bTY0NC00MjBsLTY4MiA2ODJxLTM3IDM3LTkwIDM3LTUyIDAtOTEtMzdsLTEwNi0xMDhxLTM4LTM2LTM4LTkwIDAtNTMgMzgtOTFsNjgxLTY4MXEzOSA5OCAxMTQuNSAxNzMuNXQxNzMuNSAxMTQuNXptNjM0LTQzNXEwIDM5LTIzIDEwNi00NyAxMzQtMTY0LjUgMjE3LjV0LTI1OC41IDgzLjVxLTE4NSAwLTMxNi41LTEzMS41dC0xMzEuNS0zMTYuNSAxMzEuNS0zMTYuNSAzMTYuNS0xMzEuNXE1OCAwIDEyMS41IDE2LjV0MTA3LjUgNDYuNXExNiAxMSAxNiAyOHQtMTYgMjhsLTI5MyAxNjl2MjI0bDE5MyAxMDdxNS0zIDc5LTQ4LjV0MTM1LjUtODEgNzAuNS0zNS41cTE1IDAgMjMuNSAxMHQ4LjUgMjV6Ii8+DQo8L3N2Zz4NCg==);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    height: 0.9em;
    display: inline-block;
}
.icon-fork {
    background-image: url(icon_fork.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIj4NCiAgICA8cGF0aCBkPSJNNjcyIDE0NzJxMC00MC0yOC02OHQtNjgtMjgtNjggMjgtMjggNjggMjggNjggNjggMjggNjgtMjggMjgtNjh6bTAtMTE1MnEwLTQwLTI4LTY4dC02OC0yOC02OCAyOC0yOCA2OCAyOCA2OCA2OCAyOCA2OC0yOCAyOC02OHptNjQwIDEyOHEwLTQwLTI4LTY4dC02OC0yOC02OCAyOC0yOCA2OCAyOCA2OCA2OCAyOCA2OC0yOCAyOC02OHptOTYgMHEwIDUyLTI2IDk2LjV0LTcwIDY5LjVxLTIgMjg3LTIyNiA0MTQtNjcgMzgtMjAzIDgxLTEyOCA0MC0xNjkuNSA3MXQtNDEuNSAxMDB2MjZxNDQgMjUgNzAgNjkuNXQyNiA5Ni41cTAgODAtNTYgMTM2dC0xMzYgNTYtMTM2LTU2LTU2LTEzNnEwLTUyIDI2LTk2LjV0NzAtNjkuNXYtODIwcS00NC0yNS03MC02OS41dC0yNi05Ni41cTAtODAgNTYtMTM2dDEzNi01NiAxMzYgNTYgNTYgMTM2cTAgNTItMjYgOTYuNXQtNzAgNjkuNXY0OTdxNTQtMjYgMTU0LTU3IDU1LTE3IDg3LjUtMjkuNXQ3MC41LTMxIDU5LTM5LjUgNDAuNS01MSAyOC02OS41IDguNS05MS41cS00NC0yNS03MC02OS41dC0yNi05Ni41cTAtODAgNTYtMTM2dDEzNi01NiAxMzYgNTYgNTYgMTM2eiIvPg0KPC9zdmc+DQo=);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    height: 0.9em;
    display: inline-block;
}
.icon-cube {
    background-image: url(icon_cube.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIj4NCiAgICA8cGF0aCBkPSJNODk2IDE2MjlsNjQwLTM0OXYtNjM2bC02NDAgMjMzdjc1MnptLTY0LTg2NWw2OTgtMjU0LTY5OC0yNTQtNjk4IDI1NHptODMyLTI1MnY3NjhxMCAzNS0xOCA2NXQtNDkgNDdsLTcwNCAzODRxLTI4IDE2LTYxIDE2dC02MS0xNmwtNzA0LTM4NHEtMzEtMTctNDktNDd0LTE4LTY1di03NjhxMC00MCAyMy03M3Q2MS00N2w3MDQtMjU2cTIyLTggNDQtOHQ0NCA4bDcwNCAyNTZxMzggMTQgNjEgNDd0MjMgNzN6Ii8+DQo8L3N2Zz4NCg==);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    height: 0.9em;
    display: inline-block;
}
.icon-search-plus {
    background-image: url(icon_search-plus.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiM2ZjZmNmYiIGQ9Ik0xMDg4IDgwMHY2NHEwIDEzLTkuNSAyMi41dC0yMi41IDkuNWgtMjI0djIyNHEwIDEzLTkuNSAyMi41dC0yMi41IDkuNWgtNjRxLTEzIDAtMjIuNS05LjV0LTkuNS0yMi41di0yMjRoLTIyNHEtMTMgMC0yMi41LTkuNXQtOS41LTIyLjV2LTY0cTAtMTMgOS41LTIyLjV0MjIuNS05LjVoMjI0di0yMjRxMC0xMyA5LjUtMjIuNXQyMi41LTkuNWg2NHExMyAwIDIyLjUgOS41dDkuNSAyMi41djIyNGgyMjRxMTMgMCAyMi41IDkuNXQ5LjUgMjIuNXptMTI4IDMycTAtMTg1LTEzMS41LTMxNi41dC0zMTYuNS0xMzEuNS0zMTYuNSAxMzEuNS0xMzEuNSAzMTYuNSAxMzEuNSAzMTYuNSAzMTYuNSAxMzEuNSAzMTYuNS0xMzEuNSAxMzEuNS0zMTYuNXptNTEyIDgzMnEwIDUzLTM3LjUgOTAuNXQtOTAuNSAzNy41cS01NCAwLTkwLTM4bC0zNDMtMzQycS0xNzkgMTI0LTM5OSAxMjQtMTQzIDAtMjczLjUtNTUuNXQtMjI1LTE1MC0xNTAtMjI1LTU1LjUtMjczLjUgNTUuNS0yNzMuNSAxNTAtMjI1IDIyNS0xNTAgMjczLjUtNTUuNSAyNzMuNSA1NS41IDIyNSAxNTAgMTUwIDIyNSA1NS41IDI3My41cTAgMjIwLTEyNCAzOTlsMzQzIDM0M3EzNyAzNyAzNyA5MHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    height: 0.9em;
    display: inline-block;
}
.icon-search-minus {
    background-image: url(icon_search-minus.svg), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiM2ZjZmNmYiIGQ9Ik0xMDg4IDgwMHY2NHEwIDEzLTkuNSAyMi41dC0yMi41IDkuNWgtNTc2cS0xMyAwLTIyLjUtOS41dC05LjUtMjIuNXYtNjRxMC0xMyA5LjUtMjIuNXQyMi41LTkuNWg1NzZxMTMgMCAyMi41IDkuNXQ5LjUgMjIuNXptMTI4IDMycTAtMTg1LTEzMS41LTMxNi41dC0zMTYuNS0xMzEuNS0zMTYuNSAxMzEuNS0xMzEuNSAzMTYuNSAxMzEuNSAzMTYuNSAzMTYuNSAxMzEuNSAzMTYuNS0xMzEuNSAxMzEuNS0zMTYuNXptNTEyIDgzMnEwIDUzLTM3LjUgOTAuNXQtOTAuNSAzNy41cS01NCAwLTkwLTM4bC0zNDMtMzQycS0xNzkgMTI0LTM5OSAxMjQtMTQzIDAtMjczLjUtNTUuNXQtMjI1LTE1MC0xNTAtMjI1LTU1LjUtMjczLjUgNTUuNS0yNzMuNSAxNTAtMjI1IDIyNS0xNTAgMjczLjUtNTUuNSAyNzMuNSA1NS41IDIyNSAxNTAgMTUwIDIyNSA1NS41IDI3My41cTAgMjIwLTEyNCAzOTlsMzQzIDM0M3EzNyAzNyAzNyA5MHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    height: 0.9em;
    display: inline-block;
}