/.vs
/AzureDevopsTask*/ReportGenerator/tools
/AzureDevopsTask*/ReportGenerator/reportgenerator.js
/AzureDevopsTask*/*.vsix
/TestResults
/Testprojects/CoverageTools
/Testprojects/TestResults
/target
/resources
/publish.bat
*.suo
*.user
*.Cache
*.binlog
bin
obj
.DS_Store
.AssemblyAttributes
.netconfig
node_modules
/_ReSharper.Caches